---
layout: default
title: Center for Adaptive Warfighting
---
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Center for Adaptive Warfighting</h2>
			<p>Want to work on complex problems that matter at the speed of relevance?</p>
			<br>
			<a href="#one" class="button scrolly primary">Yes, finally.</a>
			<a href="https://www.marines.mil/News/Messages/MARADMINS/Article/1774185/fy20-hqmc-special-duty-assignment-selection-team-process" class="button">No, I'm content with the status quo.</a>
		</header>
		<span class="image"><img src="images/logo_sm.jpeg" alt="" /></span>
	</div>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="images/pic2.jpg" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-12-large">
					<header class="major">
						<p>Good choice, happy to have you.</p>
						<h2>World-class instruction in proven business models customized for the warfighter</h2>
					</header>
				</div>
			</div>
			<div class="row">
				<div class="col-4 col-12-medium">
					<a href="wcd.html"><h3>Warfighter-Centered Design</h3></a>
					<p>Basic tools for finding, framing, and co-designing solutions to unspecified and complex problems.</p>
				</div>
				<div class="col-4 col-12-medium">
					<a href="lean.html"><h3>i-Corps Lean Startup Mission Acceleration</h3></a>
					<p>Reliable doctrine for identifying problems and users, designing paths forward, ensuring value, and planning in the face of near-complete uncertainty.</p>
				</div>
				<div class="col-4 col-12-medium">
					<a href="scrum.html"><h3>Military Scrum Master</h3></a>
					<p>Mission and task management tool that adapts its lessons from the software development world to the world of warfighters.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special fade-up">
	<link rel="stylesheet" type="text/css" href="assets/css/sched.css">
	<div class="container">
		<header class="major">
			<h2>Available Classes</h2>
			{% assign range_cl = site.classlist | where_exp:"cls", "cls.start_date >= site.time" %}
			<p>Filter: <input type="date" name="start" value="{{ site.time | date:'%Y-%m-%d'}}" min="{{range_cl.first.start_date | date:'%Y-%m-%d' }}" max="{{range_cl.last.end_date | date:'%Y-%m-%d' }}"> to <input type="date" name="end" value="{{range_cl.last.end_date | date:'%Y-%m-%d' }}" min="{{range_cl.first.start_date | date:'%Y-%m-%d' }}" max="{{range_cl.last.end_date | date:'%Y-%m-%d' }}"></p>
		</header>
		<div class="box alt">
			{% if range_cl.size > 0 %}
			<ul class="sched">
			{% for cl in range_cl %}
				<li>
					{{ cl.class | upcase }}: {{ cl.start_date | date:'%d' }} - {{ cl.end_date | date:'%d' }} {{ cl.start_date | date:'%b %Y' }}
				</li>
			{%endfor%}
			</ul>
			{%else%}
			<p>Unfortunately, no classes are available for this date range.</p>
			{%endif%}
		</div>
		<footer class="major">
			<ul class="actions special">
				<li><a href="#" class="button">Add signup here</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Registration Form</h2>
			<p>Ensure you are signing up for the right course and the right dates</p>
		</header>
		<form method="post" action="#" class="cta">
			<div class="row gtr-uniform gtr-25">
				<div class="col-3 col-12-xsmall"><input type="text" name="fname" id="fname" placeholder="First Name" required/></div>
				<div class="col-3 col-12-xsmall"><input type="text" name="lname" id="lname" placeholder="Last Name" required/></div>
				<div class="col-3 col-12-xsmall"><input type="email" name="mil" id="mil" placeholder=".mil Email" required/></div>
				<div class="col-3 col-12-xsmall"><input type="email" name="civ" id="civ" placeholder="Civ Email" required/></div>
				<div class="col-3 col-12-xsmall"><input type="text" name="rank" id="rank" placeholder="Rank" required/></div>
				<div class="col-3 col-12-xsmall"><input type="tel" name="cell" id="cell" pattern="[1-9][0-9]{2}-[1-9][0-9]{2}-[0-9]{3}" placeholder="Cell Phone #" required/></div>
				<div class="col-6 col-12-xsmall"><input type="text" name="unit" id="unit" placeholder="Unit/Command" required/></div>
				<div class="col-12 col-12-xsmall"><input type="submit" value="Sign Me Up" class="fit primary" /></div>
			</div>
		</form>
	</div>
</section>
