<header id="header">
	<h1 id="logo"><a href="index.html">CAW</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>
				<a href="index.html#one">Courses</a>
				<ul>
					<li><a href="index.html#two">Schedule</a></li>
					<li><a href="wcd.html">Warfighter Centered Design</a></li>
					<li><a href="lean.html">i-Corps Lean Startup</a></li>
					<li><a href="scrum.html">Military Scrum Master</a></li>
				</ul>
			</li>
			<li>
				<a href="#">About Us</a>
				<ul>
					<li><a href="media.html">Event Media</a></li>
					<li><a href="faculty.html">Faculty</a></li>
				</ul>
			</li>
			<li><a href="#five" class="button primary">Sign Up</a></li>
		</ul>
	</nav>
</header>