---
layout: default
---
<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>{{ page.class_name }}</h2>
		</header>
		<div class="row gtr-150">
			<div class="col-8 col-12-medium">

				<!-- Content -->
					<section id="content">
						{{ content }}
					</section>

			</div>
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
					<section id="sidebar">
						<p>Interested? Sign Up!</p>
						<h4>Class Schedule</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Date</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% assign valid_class = false %}
									{% assign sorted = site.classlist | sort: 'start_date' %}
									{% for cl in sorted %}
									{% if cl.class == page.class_file %}
									{% if site.time <= cl.start_date %}
									{% assign valid_class = true %}
									<tr>
										<td colspan="2">{{ cl.start_date | date:'%d' }} & {{ cl.end_date | date:'%d' }} {{ cl.start_date | date:'%b %Y' }}</td>
										<td><a href="#" class="button small">SIGNUP!</a></td>
									</tr>
									{% endif %}
									{% endif %}
									{% endfor %}
									{% if valid_class == false %}
									{% if page.class_file == 'lean' %}
									<tr>
										<td colspan="3">Class available upon request.</td>
									</tr>
									<tr>
										<td colspan="2">Request it here:</td>
										<td><a href="#" class="button small">Email</a></td>
									</tr>
									{% else %}
									<tr>
										<td colspan="3">No classes left this fiscal year.</td>
									</tr>
									{% endif %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>

